* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

.choose {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

button:hover {
    color: #fff;
    background-color: rgb(141, 141, 141);
    border: #fff;
}

button:active {
    background-color: rgb(209, 209, 209);
}